@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  overflow-x: hidden;
  
}
body{
    background: linear-gradient(135deg , #4C007D 45%,#BC4ED8);
    


}
.bgHero2{
  
  background-image: url('../public/gg.png');
  background-position: center;
  background-size: cover;
}
.wt{
  background-color: rgba(255, 255, 255, 0.89);
}
.wt1{
   background-color:  rgba(255, 255, 255, 0.54);
}